# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
backend/.env

# =====================
# Virtual Environments
# =====================
venv/
.env
.env.*

# =====================
# Data & Artifacts
# =====================
data/
backend/data/
*.pdf
*.npy

# =====================
# OS / Editor junk
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
